// Footer
.footer {
  background-color: $base-color;

  &.section {
    padding: 4rem 0;
  }

  .logo {
    display: inline-block;
    margin-bottom: 1.5rem;
  }

  .brand {
    p {
      color: $text-color-light;
      margin-bottom: 0.75rem;
    }
  }

  i {
    font-size: 1.5rem;
    color: $text-color-light;
  }

  .social {
    grid-auto-flow: column;
    width: fit-content;

    a {
      transition: 0.3s;
      display: inline-block;

      &:hover {
        transform: translateY(-8px);
      }
    }
  }

  .divider-2 {
    background: linear-gradient(270deg, #69B99D 0%, rgba(204, 244, 230, 0.34) 100%);
  }
}

.back-to-top {
  background: linear-gradient(
    220deg
    , #6ab99d, rgba(225, 264, 280, 0.34)
  );
  color: $text-color-light;

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);

  &.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}