// Base
@import "./base/base";

// Abstracts
@import "./abstracts/variables";
@import "./abstracts/mixins";

// Components
@import "./components/button";
@import "./components/title";
@import "./components/divider";

//  Layouts
@import "./layouts/header";
@import "./layouts/layout";
@import "./layouts/home";
@import "./layouts/about";
@import "./layouts/services";
@import "./layouts/testimonial";
@import "./layouts/ourclients";
@import "./layouts/contact";
@import "./layouts/footer";

/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  // reusable classes
  .container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto; 
  }

  .section {
    padding: 10rem 0;

    header {
      margin: 0 auto;
      text-align: center;
      max-width: 35rem;
      margin-bottom: 3rem;

      #testimonials {
        header {
          max-width: 32rem;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          background-color: red;
        }
      }
    }
  }

  .button {
    height: 3.125rem;
  }

  #home {
    .image {
      width: 87%;
      &::before {
        width: 100%;
      }
    }
  }

  #contact {
    .container {
      grid-auto-flow: column;
      align-items: center;

      .text {
        max-width: 26rem;
      }
    }
  }

  footer {
    .section {
      padding: 3.75rem 0;
    }

    .container {
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;

      .social {
        p {
          position: absolute;
          top: -2rem;
          color: #fff;
          font-family: $body-font;
          font-size: 0.75rem;
        }
      }
    }

    .logo {
      font-size: 2.25rem;
    }
  }
}

@media screen and (min-width: 793px) and (max-width: 1199px) {
  main {
    margin-top: $header-height;
  }

  #home {
    .image {
      width: 87%;
      &::before {
        width: 90%;
      }
    }
  }
}

@media (min-width: 550px) and (max-width: 811px) {
  .image {
    max-width: 75%;
  }
}

/* large devices: 812 > */
@media (min-width: 812px) {
  :root {
    $title-font-size: 2.25rem;
    $subtitle-font-size: 1.125rem;
  }

  .nav {
    .menu {
      opacity: 1;
      visibility: visible;
      top: 0;

      ul {
        display: flex;
        gap: 2rem;

        li a {
          &.title {
            font: 400 1rem $body-font;
          }
        }
      }
    }

    .icon-menu {
      display: none;
    }
  }

  #home {
    .container {
      grid-auto-flow: column;
      justify-content: space-between;
      margin: 0 auto;
    }
    .image {
      order: 1;
    }

    .text {
      order: 0;
      max-width: 24rem;
      text-align: right;
    }
  }

  #about {
    .container {
      grid-auto-flow: column;
      margin: 0 auto;
    }
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

}
