.button {
  background-color: $base-color;
  box-shadow: 0 3.88px 18.81px 0 hsl(160 46% 67% / 46%);
  border: none;
  color: $text-color-light;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem $body-font;
  transition: background 0.3s;
}

.button:hover {
  background: $base-color-alt;
  cursor: pointer;
  filter: brightness(1.1);
  transition: all .2s ease;
  box-shadow: 0 3.88px 18.81px 0 hsl(159 36% 57% / 88%);
}
